<address class="sparkeats-address">
  <p>
    <%= place.city %>, <abbr title="<%= place.state %>"><%= place.stateAbbr %></abbr>
  </p>
  <% if (place.phone) { %>
    <p><a class="sparkeats-address__phone" href="tel:<%= place.phone %>"><%= place.phone %></a></p>
  <% } %>
</address>
<% if (place.placeURL) { %>
  <div class="sparkeats-address__url">
    <a class="sparkeats-address__url-link" href="<%= place.placeURL %>">Visit Site</a>
  </div>
<% } %>
