<li class="place-card__list-item">
  <section class="place-card">
    <%- partial('./place-card-image') %>
    <%- partial('./place-name-city-state') %>
    <%- partial('./star-rating') %>
    <%- partial('./address', { place }) %>
    <%- partial('./place-card-footer') %>
  </section>
</li>
