<li class="place-card__list-item">
  <section class="place-card">
    <%- partial('./place-card-image') %>
    <%- partial('./place-name-city-state') %>
    <%- partial('./address') %>
    <%- partial('./star-rating') %>
    <%- partial('./place-card-primary-button') %>
  </section>
</li>
