<div class="review-container">
<a class="button__full-width" href="/places/<%= place.id %>/reviews/new">
  Add review
</a>
<% reviews.forEach((review) => { %>
  <article class="review-submission">
    <h3 class="review-submission__reviewer">
      <%= review.reviewerName %>
    </h3>
    <div class="review-submission__date">
      <%
        const d = new Date(place.createdAt)
        const ye = new Intl.DateTimeFormat('en', { year: '2-digit' }).format(d)
        const mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d)
        const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d)
      %>
       Created<%= ` ${mo}/${da}/${ye}` %>
    </div>
    <div class="place-card__star-rating" aria-label="<%= review.rating %>">
      <%- review.stars %>
    </div>
      <h4 class="review-submission__title">Comments</h4>
      <p class="review-submission__review">
        <%= review.reviewText %>
      </p>
      <!--loop review image file names-->
      <% if (review.reviewImage) { %>
        <div class="review-submission__image-container">
          <img class="review-submission__image" src="<%= review.reviewImage %>" alt="<%= review.reviewImageAlt %>">
        </div>
      <% } %>
  </article>
<% }); %>
</div>
