<div class="review-header">
  <div class="review-header__backdrop">
    <img class="review-header__backdrop-image" src="<%= placeImage %>" alt="<%= place.placeImageAlt %>" />
  </div>
  <div class="review-header__title">
    <h2 class="review-header__name">
      <%= place.placeName %>
    </h2>
    <p class="review-header__city">
      <%= place.city %>, <%= place.state %>
    </p>
  </div>
</div>
