<div class="review-overview">
  <div class="review-overview__num-reviews">
    <p class="review-overview__title">
      <% if (place.numberOfReviews > 1) { %>
        <%- place.numberOfReviews %> Reviews
      <% } else { %>
        <%- place.numberOfReviews %> Review
      <% } %>
    </p>
    <div class="place-card__star-rating" aria-label="<%= place.rating %>">
      <%- place.numberOfStars %>
    </div>
  </div>
  <div class="review-overview__address">
    <%- partial('./address', { place: dataForView.place }) %>
  </div>
</div>
