<!DOCTYPE html>
<html>

<head>
  <title>Sparkeats</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Sparkeats">
  <meta property="og:description" content="Sparkboxers review food and drink places so you can eat well">
  <meta property="og:image" content="open-graph.png">
  <meta property="og:url" content="https://eats.seesparkbox.com/">

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="apple-touch-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="196x196" href="favicon-196x196.png" />
  <link rel="icon" type="image/png" sizes="128x128" href="favicon-128x128.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
  
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/main.css">
  <!--STYLES END-->
  <%- blocks.localScripts %>
</head>

<body>
  <%- partial('../partials/sparkeats-header.ejs') %>
  
  <%- body %>

  <%- partial('../partials/sparkeats-footer-pins.ejs') %>
  <%- partial('../partials/sparkeats-footer.ejs') %>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
    <script src="/js/local/locationDropdown.js"></script>

</body>

</html>
