<h1>Reviews</h1>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Visitor Name</th>
      <th>Experience</th>
      <th>Rating</th>
      <th>Visited At</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% reviews.forEach(function(review) { %>
      <tr>
        <td>
          <%= review.id %>
        </td>
        <td>
          <%= review.visitorName %>
        </td>
        <td>
          <%= review.experience %>
        </td>
        <td>
          <%= review.rating %>
        </td>
        <td>
          <%= review.visitedAt %>
        </td>
        <td>
          <%= review.image %>
        </td>
        <td>
          <!-- <a href="/reviews/edit/<%= review.id %>">Edit</a> -->
          <!-- <form method="delete" action="/reviews/destroy/<%= review.id %>"> -->
            <!-- <form method="delete" action="/reviews"> -->
            <!-- <input type="hidden" name="id" value="<%= review.id %>"> -->
            <!-- <input type="submit" value="Delete"> -->
          <!-- </form> -->
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>