<div class="location-dropdown">
    <h1>Pick a Location</h1>
    <button id="location-dropdown__button-main" class="location-dropdown__button">
      <div class="location-dropdown__button-text">All Places</div>
      <div class="location-dropdown__button-arrow"></div>
    </button>
    <div id="location-list" class="location-dropdown__list">
      <ul>
        <!-- getLocationDropdownList -->
      </ul>
    </div>
  </div>

<section class="place-card__container">
    <ul class="place-card__list">
      <% places.forEach(place => { %>
        <li class="place-card__list-item">
            <section class="place-card">
              <header class="place-card__header">
                <a href=""> <!-- href="/reviews/place.id" -->
                  <img class="place-card__image" src="<%= place.placeImageName %>" alt="<%= place.placeImageAlt %>"/>
                </a>
              </header>         
              <h1 class="place-card__name">
                <a class="place-card__name-link" href=""><%= place.placeName %></a> <!-- href="/reviews/place.id" -->
              </h1>
              <h2 class="place-card__city"><%= place.city %>, <%= place.state %></h2>
              <div>
                <!-- average star rating -->
              </div>
              <address class="sparkeats-address">
                <p><%= place.address %></p>
                <p><a class="sparkeats-address__phone" href="tel:<%= place.phone %>"><%= place.phone %></a></p>
              </address>
              <div class="sparkeats-address__url">
                <a class="sparkeats-address__url-link" href="<%= place.placeUrl %>">Visit Site</a>
              </div>
              <a class="place-card__footer-link" href=""> <!-- href="/reviews/place.id" -->
                <!-- number of reviews -->
              </a>
            </section>
          </li>
      <% }) %>
    </ul>
  </section>